<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="TestGoogleChrome">
   <parameter name="browser" value="Chrome"></parameter>
     <packages>
          <package name="generic"/>
     </packages>
  </test> <!-- Test -->
    <test name="TestFireFox">
   <parameter name="browser" value="Firefox"></parameter>
     <packages>
          <package name="generic"/>
     </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
